.button {
  text-transform: none !important;
  font-size: 11pt !important;
  padding: 8px 26px 8px 26px !important;
  border-radius: 10px !important;
}

.primary {
  background-color: #4880ff !important;
  color: #fff !important;
  &:hover {
    background-color: #6091ff !important;
  }
}

.secondary {
  background-color: #e5edff !important;
  color: #4880ff !important;
  &:hover {
    background-color: #eaf0ff !important;
  }
}

.outlined {
  border: 1px solid #4880ff !important;
}

.navbar-link {
  color: #111827 !important;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 14pt !important;
  &:hover {
    color: #3a4660 !important;
  }
}

.hero {
  font-size: 42pt;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-sub-text {
  color: #777e89;
  font-size: 14pt;
  margin-bottom: 20px;
}

.outer-wrapper {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.signin-container {
  margin-top: 10%;
  background-color: #fff;
  padding: 32px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.signin-header {
  margin-top: 12px;
  font-weight: 600;
  font-size: 16pt;
}

.signin-subtext {
  color: #777e89;
  font-size: 12pt;
  margin-top: 16px;
  margin-bottom: 24px;
}

.text-input {
  width: 100%;
}

.label {
  color: #777e89;
  font-size: 10.5pt;
  margin-bottom: -6px;
  margin-left: 3px;
}

.form-field-container {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.signin-button {
  text-transform: none !important;
  font-size: 11pt !important;
  padding: 12px 26px 12px 26px !important;
  border-radius: 10px !important;
  width: 90%;
  background-color: #71a2a7 !important;
  color: #fff !important;
  font-weight: 400 !important;
  margin-top: 12px !important;
  &:hover {
    background-color: #99c4c9 !important;
  }
}

.footer-text {
  color: #777e89;
  font-size: 10.5pt;
  margin-top: 20px;
  margin-bottom: 20px;
}
